@font-face {
    font-family: "Aquire";
    src: url(../fonts/Aquire-BW0ox.otf);
}

.title {
    font-family: Aquire, sans-serif;
    font-size: 40pt;
}

.autocomplete-items {
    background-color: whitesmoke;
    color: black;
}

.autocomplete-item:hover {
    cursor: pointer;
    background-color: #0d6efd;
    color: whitesmoke;
}

.autocomplete-active {
    background-color: transparent;
    color: whitesmoke;
}