<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main_styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Get Draft Recommendations</title>
</head>
<body style="background-image: url('/static/assets/football_field_background.png'); -webkit-background-size: cover; min-height: 100vh;">
    <div class="mask p-5" style="background-color: rgba(0, 0, 0, 0.4); -webkit-background-size: cover; min-height: 100vh;">
        <div class="text-center text-light title">
            MyDraft Partner
        </div>
        <div class="container mask d-flex flex-column my-5 p-5 border border-light rounded text-light" style="background-color: rgba(0, 0, 0, 0.4); max-width: 850px;">
            {% block header %}
            
            {% endblock %}
            <div class="border border-primary rounded bg-primary mt-4 mb-3" style="width: 99%; margin: auto;"></div>
            <div class="d-flex flex-column my-5">
                <h5 class="fw-bold text-decoration-underline fs-5">Get Player Recommendations:</h5><br>
                <form id="form" action="/players/results" method="post" class="form" style="max-width: 60%;">
                    <label for="team_name" id="team_name_label" class="form-label mt-3">Team Name:</label>
                    <input type="text" name="team_name" id="team_name_input" placeholder="(optional)" class="form-control">
                    <label for="num_of_teams" id="num_of_teams_label" class="form-label mt-3">How many teams are in your league?</label>
                    <select onclick="displaySpots()" name="num_of_teams" id="num_of_teams_select" class="form-select" style="max-width: 75px;">
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="14">14</option>
                        <option value="16">16</option>
                    </select>
                    <label for="draft_position" id="draft_position_label" class="form-label mt-3">Which position are you drafting from?</label>
                    <select name="draft_position" id="draft_position_select" class="form-select" style="max-width: 75px;">
                        <option>-</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <label for="draft_rounds" id="draft_rounds_label" class="form-label mt-3">How many total roster spots per team (starters + bench) ?</label>
                    <select name="draft_rounds" id="draft_rounds_select" class="form-select" style="max-width: 75px;">
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                    <button type="submit" name="submit_btn" id="submit_btn" class="btn btn-primary my-4 fw-bold">GO</button>
                
            </div>
            <div class="d-flex flex-column text-center justify-content-center">

                <!-- {#{% if user %}#}
                <a class="link-light text-decoration-none fs-5" href="/users/recommendations/advanced" onclick="displayAdvanced()" onmouseover="mousePointer(this)">
                    <p>Advanced Options</p>
                    <img id="arrow" class="mx-auto d-block" src="/static/assets/down-arrow-icon-vector.png" alt="down arrow icon" style="max-height: 30px; max-width: 80px;">
                </a>
                {#{% else %}#}
                <a class="link-light text-decoration-none fs-5" href="/guest/recommendations/advanced" onclick="displayAdvanced()" onmouseover="mousePointer(this)">
                    <p>Advanced Options</p>
                    <img id="arrow" class="mx-auto d-block" src="/static/assets/down-arrow-icon-vector.png" alt="down arrow icon" style="max-height: 30px; max-width: 80px;">
                </a>
                {#{% endif %}#} -->

                <a href="/guest/recommendations/advanced" class="link-light text-decoration-none fs-5"  onclick="displayAdvanced()" onmouseover="mousePointer(this)">
                    <p>Advanced Options</p>
                    <img id="arrow" class="mx-auto d-block" src="/static/assets/down-arrow-icon-vector.png" alt="down arrow icon" style="max-height: 30px; max-width: 80px;">
                </a>
                <div id="advanced_container" class="d-flex flex-column border border-primary rounded mx-5 justify-content-start text-start" style="min-height: 7px;">
                    {% block advanced %}
                    {% endblock %}
                </div>
            </form>
            </div>
        </div>
    </div>
    <script src="/static/scripts/dynamic.js"></script>
    <script src="/static/scripts/draft_position.js"></script>
    <!-- <script src="/static/scripts/autocomplete.js">
        var namesArr = {{ player_names|safe }}

        const autofill = (element, namesArr = namesArr) => {
    
            console.log("BEGIN")
            
            let prefix = element.value

            class TrieNode {
                constructor(value) {
                    this.value = value
                    this.children = {}
                    this.isEndOfWord = false
                }
            }

            class Trie {

                constructor() {
                    this.root = new TrieNode(null)
                }

                addName(string) {
                    let currentNode = this.root
                    for (let char of string) {
                        if (currentNode.children[char] === undefined) {
                            currentNode.children[char] = new TrieNode(char)
                        }
                        currentNode = currentNode.children[char]
                    }
                    currentNode.isEndOfWord = true
                }

                search(string) {
                    let currentNode = this.root
                    for (let char of string) {
                        if (currentNode.children[char] === undefined) {
                            return false
                        }
                        currentNode = currentNode.children[char]
                    }
                    return currentNode.isEndOfWord
                }

                // auto(string) {
                //     let word = ""
                //     for (let char of string) {
                //         if (currentNode.children[char] === undefined) {

                //         }

                //     }
                // }

                namesWithPrefix(prefix) {

                    const getAllNames = (root, prefix, namesArr) => {
                        let name = prefix
                        if (root.isEndOfWord) {
                            namesArr.push(prefix)
                        } else {
                            for (const node in root.children) {
                                name += node.value
                                getAllNames(node, name, namesArr)
                            }
                        }
                    }

                    let currentNode = this.root
                    let namesArr = []

                    for (const char of prefix) {
                        if (!(char in currentNode.children)) return namesArr
                        currentNode = currentNode[char]
                    }

                    getAllNames(currentNode, prefix, namesArr)

                    return namesArr

                }

            }

            let newTrie = new Trie

            for (const name in namesArr) {
                newTrie.addName(name)
            }

            return newTrie.namesWithPrefix(prefix)

        }
    </script> -->
</body>
</html>